extends ../layout/dashboard

block content 
  form(action="", method="post") 
    h1(class="dashboard-input-title") آدرس جدید
    div(class="flex")
      div(class="dashboard-input-wrapper")
        label(class="dashboard-input-label") استان:
        input(class="dashboard-input", name="province", type="text", placeholder="استان")
        hr 
        label(class="dashboard-input-label") شهرستان:
        input(class="dashboard-input", name="city", type="text", placeholder="شهرستان")
      div(class="dashboard-input-wrapper")
          label(class="dashboard-input-label") خیابان:
          input(class="dashboard-input", name="street", type="text", placeholder="خیابان")
          hr 
          label(class="dashboard-input-label") کد پستی:
          input(class="dashboard-input ltr", name="postalCode", type="text", placeholder="کد پستی")
    div(class="dashboard-input-wrapper full")
      label(class="dashboard-input-label") جزئیات آدرس:
      input(class="dashboard-input", name="address", type="text", placeholder="آدرس")
    
    div(class="dashboard-address-wrapper-link")
      input(class="dashboard-submit-button", type="submit", value="ثبت آدرس جدید")
