extends layout 

block content 
  h1= 'Change Password'
  if(errorMessage)
    p #{errorMessage}
  form(action="", method="post") 
    p
      input(type="password", name="password" placeholder="رمز عبور فعلی")
    p
      input(type="password", name="newPassword" placeholder="رمز عبور جدید")
    p
      input(type="submit", value="تغییر رمز عبور")
