extends ../layout/dashboard 

block content 
  if(errorMessage)
    p #{errorMessage}
  form(action="", method="post") 
    h1(class="dashboard-input-title") تغییر رمزعبور
    div(class="dashboard-input-wrapper")
      label(class="dashboard-input-label", for="phoneNumbers") رمزعبور فعلی: 
      input(class="dashboard-input", type="password", name="password" placeholder="رمز عبور فعلی")
    div(class="dashboard-input-wrapper")
      label(class="dashboard-input-label", for="phoneNumbers") رمزعبور جدید: 
      input(class="dashboard-input",type="password", name="newPassword" placeholder="رمز عبور جدید")
      hr
      input(class="dashboard-input", type="password", name="newPassword" placeholder="تکرار رمز عبور جدید")
    
    input(class="dashboard-submit-button", type="submit", value="تایید رمزعبور جدید")
