extends ../layout/main

block content 
  div(class="login-content")
    h1(class="cit-mb-title") ورود به حساب کاربری
    form(action="", method="post") 
      label(for="username") نام کاربری:
      input(type="email", id="username", name="username", placeholder="Username")

      label(for="password") رمز عبور:
      input(type="password", id="password", name="password", placeholder="Password")
      
      input(type="submit", id="submit", value="ورود")

    span(class="cit-login-links")
      a(href="/account/forgotpassword") رمزعبور خود را فراموش کرده اید؟
      a(href="/account/register") ساخت حساب کاربری جدید

    if errorMessage != ''
      p(class="error") #{errorMessage}
    

