extends ../layout/main 

block content 
  div(class="register-content")
    h1(class="cit-mb-title") ایجاد حساب کاربری
    form(action="", method="post") 
      label(for="username") نام کاربری:
      input(type="email", id="username", name="username", placeholder="Username")

      label(for="password") رمز عبور:
      input(type="password", id="password", name="password", placeholder="Password")
      
      input(type="submit", id="submit", value="ثبت نام")

    span(class="cit-register-links")
      a(href="/account/login") ورود به حساب کاربری
      a(href="/terms") قوانین و مقررات

    if errorMessage != ''
      p(class="error") #{errorMessage}
