extends ../layout/main 

block content 
  h1= 'ثبت نام'
  if(errorMessage)
    p #{errorMessage}
  form(action="" method="post") 
    p 
      input(type='text' name='username' placeholder='نام کاربری')
    p 
      input(type='password' name='password' placeholder='رمز عبور')
    
    input(type='submit')
