extends layout 

block content 
  h1= 'ثبت نام'
  form(action="" method="post") 
    input(type='text' name='username' placeholder='نام کاربری')
    input(type='password' name='password' placeholder='رمز عبور')
    input(type='submit')
