div(class="cit-navbar main-nav")
  div(class="content")
    a(class="cit-mn-title" href="/") کریستال آی تی
    ul(class="menu")
      li
        a(class="item" href="/about/") 
          span درباره ما
      li
        a(class="item" href="/contact/") 
          span تماس با ما
      li
        a(class="item" href="/account/") 
          span حساب کاربری
      li
        a(class="item" href="/cart/") 
          span سبد خرید
