div(class="main-nav" style="display: inline-flex; justify-content: space-between; background: lightgray; position: fixed; left: 0; right: 0; top: 0px; height: 40px; padding: 0 50px;")
  span
    a(href="/" style="display: inline-block; margin: 10px; font-weight: bold; font-size: 125%") کریستال آی تی
  span
    a(href="/account/login/" style="display: inline-block; margin: 10px;") ورود به حساب کاربری
    a(href="/account/register/" style="display: inline-block; margin: 10px;") ثبت نام

