extends layout 

block content 
  h1 ایجاد دسته بندی جدید

  form(action="", method="post") 
    p 
      input(type="text", name="name", placeholder="نام انگلیسی جهت ایجاد لینک")
    p 
      input(type="text", name="title", placeholder="عنوان دسته")

    p 
      input(type="submit", value="اضافه کردن دسته")
