extends layout 

block content 
  h1 ویرایش دسته بندی

  form(action="", method="post") 
    p 
      input(type="text", name="name", placeholder="نام انگلیسی جهت ایجاد لینک", value=category.name)
    p 
      input(type="text", name="title", placeholder="عنوان دسته بندی", value=category.title)

    p 
      a(href="/dashboard/category/remove/" + category._id)
        input(type="button", value="حذف")
      
      input(type="submit", value="به روز رسانی")
      