extends ../layout/dashboard

block content 
  h1 دسته بندی ها
  if(message)
    p #{message}

  if(categories.length >= 1)
    for category of categories
      p #{category.title} 
        span 
          a(href="/dashboard/category/" + category._id) ویرایش
        span 
          a(href="/dashboard/category/remove/" + category._id) حذف
  else
    p هنوز دسته بندی نساخته اید.

  p آیا مایلید دسته جدیدی برای دسته بندی محصولاتتان ایجاد نمایید؟
  a(href="/dashboard/category/add/") اضافه کردن دسته بندی  