extends layout 

block content 
  h1 دسته بندی ها
  
  if(message)
    p #{message}

  if(categories.length >= 1)
    for category of categories
      p
        a(href="/dashboard/category/" + category._id) #{category.name}
  else
    p هنوز دسته بندی نساخته اید.

  p آیا مایلید دسته جدیدی برای دسته بندی محصولاتتان ایجاد نمایید؟
  a(href="/dashboard/category/add/") اضافه کردن دسته بندی  