extends layout 

block content 
  h1 خوش آمدید
  
  p
    a(href="/dashboard/product/") محصولات

  p
    a(href="/dashboard/category/") دسته بندی ها
  
  p
    a(href="/dashboard/property/") لیست ویژگی ها

  p
    a(href="/dashboard/order/") سابقه سفارشات
