extends layout 

block content 
  h1 ایجاد ویژگی جدید

  form(action="", method="post") 
    p 
      input(type="text", name="name", placeholder="نام انگلیسی جهت ایجاد فیلتر")
    p 
      input(type="text", name="title", placeholder="عنوان")
    p 
      input(type="text", name="unit", placeholder="واحد اندازه گیری")

    p 
      input(type="submit", value="اضافه کردن ویژگی")
