extends ../layout/dashboard 

block content 
  h1 ویرایش ویژگی

  form(action="", method="post") 
    p 
      input(type="text", name="name", placeholder="نام انگلیسی جهت ایجاد فیلتر", value=property.name)
    p 
      input(type="text", name="title", placeholder="عنوان", value=property.title)
    p 
      input(type="text", name="unit", placeholder="واحد اندازه گیری", value=property.unit)

    p 
      input(type="submit", value="به روز رسانی")
      