extends ../layout/dashboard

block content 
  h1 ویژگی ها
  
  if(message)
    p #{message}

  if(properties.length >= 1)
    for property of properties
      p #{property.title}
        span 
          a(href="/dashboard/property/" + property._id) ویرایش
        span 
          a(href="/dashboard/property/remove/" + property._id) حذف
  else
    p هنوز ویژگی ای اضافه نکرده اید.

  p آیا مایلید ویژگی جدیدی برای مشخصات محصولاتتان ایجاد نمایید؟
  a(href="/dashboard/property/add/") ایجاد ویژگی جدید  