
@import './font.css';
@import './navbar.css';
@import './footer.css';

body {
  margin: 0;
  padding: 0;
  outline: none;
  background-color: #eef;
}

body,
body * {
  font-family: IRANSans;
  font-weight: 300;
}

.cit-body {
  width: 960px;
  margin: 0 auto;
  padding: 58px 0 0;

}

.cit-body .cit-mb-title {
  font-family: IRANSans;
  font-weight: 600;
  font-size: 24pt;
  color: #369;
}

.cit-swipper {
  background-color: #369;
  margin-bottom: 15px;
  padding: 25px;
  overflow: hidden;
}

.cit-swipper .swipper-container {
  margin: 0 -7px;
  padding: 0;
}

.cit-swipper .swipper-container .swipper-item {
  display: inline-block;
  position: relative;
  margin: 0 7px;
  width: 217px;
  height: 386px;
  background-color: #fff;
  border-radius: 7px;
  vertical-align: top;
}

.cit-swipper .swipper-container .swipper-item.title {
  background-color: transparent;
}

.cit-swipper .swipper-container .swipper-item a {
  display: inherit;
  padding: 15px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.cit-swipper .swipper-container .swipper-item a .swipper-image {
  width: 187px;
  height: 187px;
  border-radius: 7px 7px 0 0;
  overflow: hidden;
}

.cit-swipper .swipper-container .swipper-item a .swipper-image img {
  width: 100%;
  height: 100%;
}

.cit-swipper .swipper-container .swipper-item a .info-wrapper {
  height: 154px;
  margin-top: 15px;
  position: relative;
}

.cit-swipper .swipper-container .swipper-item a .info-wrapper .product-title {
  margin: 0px;
  font-size: 12pt;
  font-weight: 500;
  color: #111;
}

.cit-swipper .swipper-container .swipper-item a .info-wrapper .price-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  direction: ltr;
  text-align: left;
}

.cit-swipper .swipper-container .swipper-item a .info-wrapper .price-wrapper .price {
  text-decoration: line-through;
  margin: 0px;
  font-size: 10pt;
  font-weight: 300;
  display: inline-block;
  color: #111;
}

.cit-swipper .swipper-container .swipper-item a .info-wrapper .price-wrapper .off {
  background: red;
  border-radius: 5px;
  padding: 0px 10px;
  margin: 0;
  margin-left: 7px;
  color: white;
  font-size: 10pt;
  font-weight: 400;
  vertical-align: super;
}

.cit-swipper .swipper-container .swipper-item a .info-wrapper .price-wrapper .price.final {
  text-decoration: none;
  margin: 0px;
  font-size: 11pt;
  font-weight: 400;
  display: block;
  direction: rtl;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
