html(lang="en" dir="rtl")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    title پنل مدیریت حساب کاربری
  body 
    include ./shared/navbar
    div(class="dashboard-body")
      div(class="dashboard-nav")
        a(class="panel-title" href="/dashboard/") 
          span پنل کاربری
      div(class="dashboard-panel")
        a(class="panel-item", href="/account/information/")
          span اطلاعات شخصی
        a(class="panel-item", href="/account/address/")
          span آدرس ها
        a(class="panel-item", href="/dashboard/order/")
          span سابقه سفارشات
        a(class="panel-item", href="/account/changepassword/")
          span تغییر رمزعبور

        - if(role.level <= 2)
          a(class="panel-item", href="/dashboard/category/")
            span دسته بندی ها
          a(class="panel-item", href="/dashboard/property/")
            span لیست ویژگی ها
          a(class="panel-item", href="/dashboard/product/")
            span محصولات فروشگاه

        a(class="panel-item", href="/account/logout/")
          span خروج

      div(class="dashboard-content")
        block content 
