doctype html
html(lang="en" dir="rtl")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/account.css')
  body
    include ./shared/navbar
    div(class="cit-body")
      block content
